<launch>

<!-- SPEECH RECOGNITION -->

<include file="$(find speech_interaction)/launch/speech_back_example.launch"/>

<!-- HANDLING COMMANDS -->

<!-- <node name="subscriber" pkg="command_handler" type="subscriber.py" /> -->
<node name="state_machine" pkg="MiRo-Project12a" type="state_machine_main.py" output = "screen"/>

</launch>
