<launch>

<!-- SPEECH RECOGNITION -->

<include file="$(find speech_interaction)/launch/speech_back_example.launch"/>

<!-- HANDLING COMMANDS -->

<!-- <node name="subscriber" pkg="command_handler" type="subscriber.py" /> -->
<node name="smach_example_state_machine" pkg="state_machine" type="state_machine_simple.py" output = "screen"/>

</launch>
