<launch>

<!-- REAL ROBOT OR SIMULATION -->
<!-- Real miro = rob01 | Simulation miro = sim01 -->

<param name="/robot_name" value="rob01" />

<!-- NODE RATE-->
<param name = "rate" value="200" />

<!-- SPEECH RECOGNITION -->

<include file="$(find speech_interaction)/launch/speech_back_example.launch"/>

<!-- HANDLING COMMANDS -->

<!-- <node name="subscriber" pkg="command_handler" type="subscriber.py" /> -->
<node name="state_machine" pkg="MiRo-Project12a" type="state_machine_main.py" output = "screen"/>

</launch>
