<launch>

<!-- NODE RATE-->

<param name = "rate" value="200" />

<!-- SPEECH RECOGNITION -->

<include file="$(find speech_interaction)/launch/speech_back_example.launch"/>

<!-- HANDLING COMMANDS -->

<node name="state_machine" pkg="MiRo-Project12a" type="state_machine_main.py" output = "screen"/>

</launch>
